{{> header }}

<p>Use this site to get your weather!</p>

<form id="get_weather">
    <input type="text" id="inputAddress" value="κερατσίνι">
    <button type="submit">Search</button>
</form>

<p id="messageOne"></p>
<p id="messageTwo"></p>

{{> footer }}